$brand-color: #d3360b;

$brand-color-black: #252525;
$brand-color-light: #ff0000;
$brand-color-dark: #af0404;
$brand-color-shadow: #471c1c;
$brand-color-grey: #414141;

$tablet: 768px;
$desktop: 976px;