<footer>
  <div class="footer">
    <div>
      <h4>Rails Girls Sydney</h4>
      <p><i class="fab fa-twitter"></i> <a href="https://twitter.com/RailsGirls_SYD">@RailsGirls_SYD</a></p>
      <p><i class="fab fa-facebook-f"></i> <a href="https://www.facebook.com/groups/474567595959477/">Facebook Group</a></p>
      <p><i class="fab fa-github"></i> <a href="https://github.com/railsgirlssydney">Github</a></p>
      <p><i class="fab fa-slack"></i> Slack Group</p>
    </div>
    <div>
      <h4>Organisers</h4>
      <p><i class="fas fa-terminal"></i> Ange Gove</p>
      <p><i class="fas fa-terminal"></i> Angela M</p>
      <p><i class="fas fa-terminal"></i> Esther Greatbanks</p>
      <p><i class="fas fa-terminal"></i> Lee Sheppard</p>
      <p><i class="fas fa-terminal"></i> Sonya Corcouran</p>
    </div>
    <div>
      <h4>Contact</h4>
      <p>Email <a href="mailto:railsgirlssyd@gmail.com">railsgirlssyd@gmail.com</a> </p>
    </div>
  </div>
</footer>