<footer>
  <div class="footer">
    <div>
      <h4>Rails Girls Sydney 2022</h4>
      <p><i class="fab fa-twitter"></i> <a href="https://twitter.com/RailsGirls_SYD">@RailsGirls_SYD</a></p>
      <p><i class="fab fa-facebook-f"></i> <a href="https://www.facebook.com/groups/474567595959477/">Facebook Group</a></p>
      <p><i class="fab fa-github"></i> <a href="https://github.com/railsgirlssydney">Github</a></p>
<!--      <p><i class="fab fa-slack"></i> Slack Group</p>-->
    </div>
    <div>
      <h4>Organisers</h4>
<!--      <p><i class="fas fa-terminal"></i> <a href="https://twitter.com/Angie_Gove">Ange Gove</a></p>-->
<!--      <p><i class="fas fa-terminal"></i> <a href="https://twitter.com/amikulasev">Angela Mikulasev</a></p>-->
<!--      <p><i class="fas fa-terminal"></i> <a href="https://twitter.com/estherlg">Esther Greatbanks</a></p>-->
      <p><i class="fas fa-terminal"></i> <a href="http://twitter.com/leesheppard">Lee Sheppard</a></p>
<!--      <p><i class="fas fa-terminal"></i> <a href="http://twitter.com/soxyface">Sonya Corcoran</a></p>-->
      <p><i class="fas fa-terminal"></i> Ruby Australia</p>
    </div>
    <div>
      <h4>Contact</h4>
      <p>Email <a href="mailto:railsgirlssyd@gmail.com">railsgirlssyd@gmail.com</a> </p>
      <p><a href="https://twitter.com/RailsGirls_AU">Rails Girls Australia</a></p>
<!--      <p><a href="https://twitter.com/railsgirlsbne">Rails Girls Brisbane</a></p>-->
<!--      <p><a href="https://twitter.com/hashtag/railsgirlscanberra">Rails Girls Canberra</a></p>-->
<!--      <p><a href="https://twitter.com/RailsGirlsMel">Rails Girls Melbourne</a></p>-->
<!--      <p><a href="https://twitter.com/RailsGirlsRad">Rails Girls Adelaide</a></p>-->
<!--      <p><a href="https://twitter.com/hashtag/RailsgirlsPerth">Rails Girls Perth</a></p>-->
      <p><a href="https://twitter.com/railsgirls">Rails Girls International</a></p>
    </div>
  </div>
</footer>